
/* Restyle the bootstrap table */
table {
    width:auto !important;
    table-layout: fixed;
}


/* ----- Style of the main layout ----- */


#page{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}

#page_content{
    padding:50px;
    padding-left:70px;
}

/* Nav Bar */

#nav-bar{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    height:60px;
    background-color:black;
    z-index: 1; /* Stay on top */

}

#nav-bar-logo{
    top:20px;
    margin-left:5%;
    width:120px;
    fill:white;
    position:relative;
}

/* Side panel */

#side-panel{
    position: fixed; /* Stay in place */
    top: 60px;
    left: 0;
    height: 100%; /* 100% Full-height */
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    color:black;
    background-color: #e9ecef;
    transition:0.35s;
}

#side-panel-children{
    padding-top: 30px;
    padding-left: 30px;
}

.side-panel-open{
    width:300px;
}

.side-panel-close{
    width:0px;
}

#side-panel-toggle{
    width:35px;
    top:14px;
    left:10px;
    position:absolute;
}

#panel-wrapper{
    position:absolute;
    right:0px;
    top:60px;
    bottom:0px;
    transition:0.35s;
}

.panel-wrapper-open{
    left:300px;
}

.panel-wrapper-close{
    left:0px;
    padding-left:70px;
    padding-right:70px;
}

#menu-icon{
    width:25px;
    height:3px;
    background-color:white;
    margin:6px 3px;
}

.tab-link{
    text-decoration: none;
    color: black;
    font-size:1.2em;
    font-weight: bold;
}


.main-svg{
    background-color: transparent !important /* overrides the Dash white background */
}

.section{
    margin-top:20px;
}

.status{
    margin-bottom:10px;
}


.modal-xl {
   width: 70%;
   max-width:1000px;
  }

.btn-default{
    margin-top:5px;
    margin-bottom:5px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.btn-default:hover {
    background-color: #ccc; /* Green */
}

.disabled{
    pointer-events: none;
}

/* Nullify bootstrap styling */
label {
    margin-bottom: 0px !important;
    font-weight: normal !important;
    display:block;
}

body {
   line-height: 1.6 !important;
}

input {
   margin:5px;
   font-weight: normal !important;
  }

.modal {
    overflow-y: scroll;
}

/* Hide the Dash hovering undo/redo toolbar */
._dash-undo-redo {
  display: none;
}


/* Disable the plotly popup notified */
div.plotly-notifier {
  visibility: hidden;
}


/* Hide default HTML checkbox */
.switch input {display:none;}

